<div class="home-container">
  <div class="home-container01">
    <div class="home-container02">
      <div class="home-container03">
        <div class="home-container04">
          <div class="home-container05"></div>
          <div class="home-container06"></div>
        </div>
      </div>
    </div>
    <div class="home-container07">
      <div class="home-container08">
        <div class="home-container09">
          <div class="home-container10"></div>
          <div class="home-container11">
            <div class="home-container12"></div>
            <div class="home-container13"></div>
          </div>
          <div class="home-container14"></div>
        </div>
      </div>
      <div class="home-container15"></div>
    </div>
  </div>
</div>
